@inherits AppComponentBase

<div dir="rtl" href="@Href" class="d-flex main" onclick="@WrapHandled(NavigateBack)">
    <BitIcon IconName="@BitIconName.Back" Style="transform: rotateY(180deg); font-size:20px; margin-left: 10px;"  />
    <p >بازگشت</p>
</div>